body {
  background: url(images/wallpaper.jpg);
  background-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#game div {
  background: url(images/cardback.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 18%;
  height: 150px;
  margin: .5%;
  border-radius: 8%;

}

img {
  height: 99%;
  width: 88%;
  border: 1px solid white;
  border-radius: 5%;
}

.hidden {
  display: none;
}

#cover {
  background-color:rgb(153,75,40);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    opacity: 0.7;
}

 #game-over-menu {
  border: 2px solid black;
  position: relative;
  background: url(images/menu-wallpaper.jpg) no-repeat;
  max-height: 50%;
  max-width: 50%;
  top: -600px;
  padding: 5%;
  margin: 0 auto;
  z-index: 200;
} 

h2 {
  color: white;
  font-size: 4rem;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5%;
}

button {
  font-size: 1.5rem;
  padding: 5px 10px;
}

#start-over {
  position: relative;
}


@media only screen and (max-width: 960px) {
  h2 {
    font-size: 3rem;
  }

  #game div {
    height: 100px;
  }

  .container {
    margin-top: 50px;
  }
  #game-over-menu {
    top: -400px;
  }
  
}

@media only screen and (max-width: 760px) {
  #game-over-menu {
    top: -150px;
  }
  #game div {
    height: 40px;
    margin: 1% .5% 2% 0;
  }
  .container {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  #game div {
    height: 150px;
  }
  .container {
    margin-top: 50px;
  }
  #start-over {
    font-size: 2rem;
    padding: 5px 10px;
  }
}

@media only screen and (min-width: 1800px) {
  h1 {
    font-size: 5rem;
  }
  /* #game div {
    height: 250px;
  } */
  .container {
    margin-top: 100px;
  }
  #game-over-menu {
    top: -900px;
  }
  h2 {
    font-size: 7rem;
  }
  button {
    font-size: 2.5rem;
    padding: 7px 15px;
  }
  img {
    height: 100%;
    width: 70%;
  }
}

@media only screen and (max-width: 390px) {
  h2 {
    font-size: 1rem;
  }
  button {
    font-size: .5rem;
    padding: 2px 5px;
  }
}

@media only screen and (min-width: 2100px) {
  #game div {
    height: 250px;
  }
  img {
    width: 90%;
  }
}
